/* general tag styles */
body {
  padding: 0 6.25em;
}
html {
  font-size: 1em;
}

/* more specific styles */
footer {
  width: calc(100% + 12.5em);
  margin-left: -6.25em;
}
footer .shareBox {
  float: right;
  margin: 0;
}
footer > h2:nth-of-type(2) {
  margin: 3.125rem 0 0 0;
}
footer div#copyrightNotice {
  margin-top: 3.125em;
  text-align: center;
}
header {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 9.375em;
  width: 100%;
  background-color: #2c3c40;
}
header img#logo {
  height: 6.25rem;
  vertical-align: middle;
  margin-right: 1.5rem;
  display: inline-block;
}
header h1#title {
  margin: 0 1.5rem;
  font-size: 6.25em;
  line-height: 9.375rem;
  color: white;
  display: block;
}
header nav#mainNav {
  position: relative;
  font-size: 0;
}
header nav#mainNav::after {
  display: none;
}
header nav#mainNav.fixed {
  position: fixed;
  top: 0;
  left: 0;
}
header nav#mainNav div.dropdown {
  display: inline-block;
  padding: 1.25rem;
  background-color: #57797f;
  color: white;
  font-size: 1rem;
}
header nav#mainNav div.dropdown:hover, header nav#mainNav div.dropdown.linger {
  background-color: #2c3c40;
} 
header nav#mainNav div.dropdownLinks {
  display: block;
  font-size: 1rem;
  position: absolute;
  width: 12.5rem;
  background-color: #2c3c40;
  color: #e9e9e9;
  z-index: -1;
}
header nav#mainNav div.dropdownLinks.hidden {
  display: none;
}
header nav#mainNav a.dropdownLink {
  display: block;
  padding: 0.625em 1.25em;
}
header nav#mainNav a.dropdownLink:hover {
  background-color: #57797f;
}
/* index.html page styles */
div.shoutBox {
  width: calc(100% + 12.5em);
  margin-left: -6.25em;
}
/* listing page styles */
div.categoryListItem i.icon {
  font-size: 6.25rem;
  line-height: 9.375rem;
  margin: 0 1.5rem;
}
div.categoryListItem h3.title {
  font-size: 1.75rem;
  height: 6.25rem;
  line-height: 6.25rem;
  margin: 0;
}
div.categoryListItem p.description {
  font-size: 1.25rem;
  margin: 0;
  line-height: 1.5625rem;
  height: 1.5625rem;
}
