div.shoutBox {
  width: calc(100% + 200px);
  margin-left: -100px;
  position: relative;
}
div.shoutBox img.shoutImage {
  width: 100%;
  display: block;
  min-height: 500px;
}
div.shoutBox div.imageCover {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(255, 255, 255, 0.5);
}
div.shoutBox div.shoutText {
  position: absolute;
  height: 200px;
  width: 75%;
  top: calc(50% - 100px);
  margin: 0 12.5%;
  text-align: center;
}
div.shoutBox div.shoutText h1 {
  font-size: 60px;
  font-family: shout;
  margin: 0 0 20px 0;
}
div.shoutBox div.shoutText p {
  font-size: 30px;
  margin: 0;
}
