div.categoryListItem {
  margin: 16px 0;
  background-color: #e9e9e9;
  padding: 25px;
}
div.categoryListItem:hover {
  background-color: #cdcdcd;
}
div.categoryListItem i.icon {
  display: inline-block;
  font-size: 100px;
  line-height: 150px;
  margin: 0 25px;
}
div.categoryListItem div.info {
  display: inline-block;
  height: 150px;
}
div.categoryListItem h3.title {
  font-size: 30px;
}
div.categoryListItem p.description {
  font-size: 20px;
}
