/*
  colors:
  - #99d3df "ice"
      - #2c3c40 (darker)
      - #57797f (darker)
      - #aff1ff (lighter)
  - #88bbd6 "fresh water"
  - #cdcdcd "plaster"
  - #e9e9e9 "linen"
*/

/* non-default fonts */
@font-face {
  font-family: shout;
  src: url(./fonts/mohave.otf);
}
@font-face {
  font-family: body;
  src: url(./fonts/cloudLight.otf);
  font-weight: normal;
}
@font-face {
  font-family: body;
  src: url(./fonts/cloudBold.otf);
  font-weight: bold;
}

/* general tag styles */
* {
  box-sizing: border-box;
}
a {
  color: #57797f;
  text-decoration: none;
  border-bottom: 1px dotted #57797f;
}
blockquote {
  margin: 1.25em 2.5em 1.25em 1.25em;
  padding: 1.25em 2.5em 2.5em 1.25em;
  background-color: #e9e9e9;
  font-size: 1.25rem;
}
blockquote::before {
  content: "\f10d";
  font-family: fontawesome;
  display: inline-block;
  float: left;
  font-size: 2.5rem;
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
}
blockquote span.author {
  float: right;
  margin-top: 1em;
  font-size: 0.6em;
}
blockquote span.author::before {
  content: "~ ";
}
body, html {
  margin: 0;
}
body {
  padding: 0 0.5em;
}
button, input, select, textarea {
  border: none;
  outline: none;
  font-size: inherit;
  font-family: inherit;
}
h1, h2, h3, h4, h5, h6 {
  font-family: shout;
  font-weight: normal;
}
h2 {
  border-top: 1px solid #2c3c40;
  padding-top: 0.625em;
  margin: 1.5em 0 0 0;
}
html {
  padding: 0;
  font-size: 0.75em;
  font-family: body;
  background-color: white;
  color: #2c3c40;
}
li {
  margin: 1em 0;
  padding: 0 1em;
}
ol {
  list-style-type: upper-roman;
}
table {
  margin: 1em 0;
  width: 100%;
  border-collapse: collapse;
  empty-cells: show;
}
table td, table th {
  padding: 0.625em 1.25em;
}
table thead tr {
  border-bottom: 3px solid #cdcdcd;
  text-align: left;
}
table tbody tr {
  border-top: 1px solid #cdcdcd;
}
table tbody tr:nth-child(odd) {
  background-color: #e9e9e9;
}
ul {
  list-style-type: circle;
}

/* specific styles for any page */
footer {
  width: calc(100% + 1em);
  padding: 3.125em;
  margin: 3.125em 0 0 -0.5em;
  background-color: #2c3c40;
  color: white;
  position: static;
  left: 0;
}
footer a {
  color: #aff1ff;
  border-bottom-color: #aff1ff;
}
footer > div {
  margin: 0.625em 0;
}
footer > h2 {
  margin: 0;
}
footer div.shareBox {
  text-align: center;
  margin-bottom: 1.5rem;
}
footer .shareButton {
  font-size: 3.125em;
  margin: 0 1.5rem;
}
footer .shareButton.fa-facebook:hover { color: #3b5998; }
footer .shareButton.fa-twitter:hover { color: #55acee; }
footer .shareButton.fa-google-plus:hover { color: #dd4b39; }
footer div#copyrightNotice {
  margin-top: 1.5rem;
}
header img#logo, header h1#title {
  display: none;
}
header nav#mainNav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: #57797f;
  color: white;
}
header nav#mainNav div.mobile {
  padding: 0.2em;
  font-family: shout;
  font-size: 4em;
}
header nav#mainNav div.mobile i.openMenuButton {
  font-size: 0.5em;
}
header nav#mainNav div.mobile i.openMenuButton:hover i.fa-square, header nav#mainNav div.mobile i.openMenuButton:active i.fa-square {
  color: #e9e9e9;
}
header nav#mainNav div.mobile i.fa-navicon {
  color: #57797f;
}
header nav#mainNav div.dropdown, nav#mainNav div.dropdownLinks {
  display: none;
}
header nav#sideNav {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: white;
  z-index: 6;
}
header nav#sideNav i.closeMenuButton {
  display: block;
  font-size: 5rem;
  float: right;
  background-color: white;
}
header nav#sideNav i.closeMenuButton:hover, header nav#sideNav i.closeMenuButton:active {
  color: #ef4e49;
}
header nav#sideNav a {
  display: block;
  font-size: 2rem;
  padding: 0 1em;
}
header nav#sideNav a:active, header nav#sideNav a:hover {
  background-color: #e9e9e9;
}
p.underConstruction {
  font-family: shout;
  font-size: 3.125em;
  text-align: center;
  padding: 6.25rem 0;
}
p.underConstruction span.fa-stack.first {
  margin-right: 1.25rem;
}
p.underConstruction span.fa-stack.second {
  margin-left: 1.25rem;
}
div.reveal {
  background-color: #e9e9e9;
  margin: 1em 0;
}
div.reveal div.revealButton, div.reveal div.toReveal {
  padding: 1.25em;
}
div.reveal div.revealButton::after {
  content: "\f0d7";
  font-family: fontawesome;
  display: inline-block;
  padding-left: 0.625em;
}
div.reveal.revealed div.revealButton {
  background-color: #cdcdcd;
}
div.reveal.revealed div.revealButton:hover {
  background-color: #e9e9e9;
}
div.reveal.revealed div.revealButton::after {
  content: "\f0d8";
}
div.reveal div.revealButton:hover {
  background-color: #cdcdcd;
}
div.reveal div.toReveal {
  display: none;
}
h1:not(#title) {
  font-size: 3.125em;
  padding-top: 1em;
  margin: 0;
}
table.schedule tr th:nth-child(1) {
  width: 7.75em;
}
table.schedule tr th:nth-child(2), table.schedule tr th:nth-child(4) {
  width: 6.25em;
}
table.schedule tr th:nth-child(3) {
  width: 18.75em;
}
table#birthdayOptions tbody th {
  text-align: left;
}
table#birthdayOptions tbody td {
  text-align: center;
}
table#birthdayOptions thead th {
  text-align: center;
}
table#birthdayOptions i.fa-check {
  color: #27ae60;
}
table#birthdayOptions i.fa-times {
  color: #c0392b;
}
blockquote.review {
  margin: 6.25em 3.125em;
}
blockquote.review:nth-child(odd) {
  transform: rotate(-2.5deg);
}
blockquote.review:nth-child(even) {
  transform: rotate(2.5deg);
}
div.titleImage {
  width: calc(100% + 12.5em); 
  margin-left: -6.25em;
  height: 31.25em;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
}
div.titleImage div.triangle {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border: solid white;
}
div.titleImage div.triangle:first-of-type {
  border-right-color: transparent;
  border-bottom-color: transparent;
}
div.titleImage div.triangle:last-of-type {
  margin-top: 25em;
  border-left-color: transparent;
  border-top-color: transparent;
}
/* index.html styles */
div.shoutBox {
  width: calc(100% + 1em);
  height: 31.25em;
  background-size: cover;
  background-position: center center;
  margin-left: -0.5em;
  position: relative;
}
div.shoutBox div.imageCover {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(255, 255, 255, 0.5);
}
div.shoutBox div.shoutText {
  position: absolute;
  height: 12.5em;
  width: 85%;
  top: calc(50% - 6.25em);
  margin: 0 7.5%;
  text-align: center;
}
div.shoutBox div.shoutText h1 {
  font-size: 2em !important;
  margin: 0 0 1rem 0 !important;
}
div.shoutBox div.shoutText p {
  font-size: 1.25em;
  margin: 0;
}
div.shoutBox div.shoutText button {
  background-color: #2c3c40;
  color: #e9e9e9;
  font-family: shout;
  font-size: 1.25em;
  margin-top: 1em;
  padding: 0.5em 2em;
}
div.shoutBox div.shoutText button:active {
  background-color: #57797f;
}
/* styles for a listing page */
div.categoryListItem {
  margin: 1em 0;
  background-color: #e9e9e9;
  padding: 1.5rem;
}
div.categoryListItem:hover {
  background-color: #cdcdcd;
}
div.categoryListItem i.icon {
  display: inline-block;
  font-size: 3.125rem;
  line-height: 6.25rem;
  margin: 0 1.5625rem 0 0;
}
div.categoryListItem div.info {
  display: inline-block;
  height: 6.25rem;
  vertical-align: top;
}
div.categoryListItem h3.title {
  font-size: 1.5rem;
  line-height: 3.125rem;
  height: 3.125rem;
  margin: 0;
}
div.categoryListItem p.description {
  line-height: 3.125rem;
  height: 3.125rem;
  font-size: 1rem;
  margin: 0;
}
/* contact/staff.html styles */
div.staff {
  margin: 1em 2em 1em 0;
  background-color: #e9e9e9;
  width: 16.675em;
  height: 23.4375em;
  display: inline-block;
}
div.staff img.picture {
  width: 16.675em;
  height: 16.675em;
  display: block;
}
div.staff div.info {
  width: 16.675em;
  height: 7.8125em;
  background-color: #2c3c40;
  color: #e9e9e9;
  padding: 1.5em;
}
div.info div.name {
  font-family: shout;
  font-size: 1.75em;
  line-height: 3.125rem;
  text-align: center;
}
div.info div.title {
  font-size: 1.25em;
  line-height: 1.5rem;
  text-align: center;
}

/* general classes */
.animate {
  transition: all .5s;
}
.clearFix::after {
  content: " ";
  display: table;
  clear: both;
}
.dangerText {
  color: #ef4e49;
}
.noStyle {
  border-bottom: none;
  color: inherit;
}
.pointer {
  cursor: pointer;
}
.rounded {
  border-radius: 3px;
}
.shadowHover:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 3px 3px;
}
.shadow {
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 3px 3px;
}
.lightText {
  color: white;
}
