/*
  colors:
  - #99d3df "ice"
      - #2c3c40 (darker)
      - #57797f (darker)
      - #aff1ff (lighter)
  - #88bbd6 "fresh water"
  - #cdcdcd "plaster"
  - #e9e9e9 "linen"
*/

/* non-default fonts */
@font-face {
  font-family: shout;
  src: url(./fonts/mohave.otf);
}
@font-face {
  font-family: body;
  src: url(./fonts/corbert.otf);
}

/* general styles */
* {
  box-sizing: border-box;
}
a {
  color: #57797f;
  text-decoration: none;
  border-bottom: 1px dotted #57797f;
}
body, html {
  margin: 0;
  font-size: 16px;
  font-family: body;
  background-color: white;
  color: #2c3c40;
}
body {
  padding: 0 100px;
}
body.noBottom {
  padding-bottom: 0 !important;
}
button, input, select, textarea {
  border: none;
  outline: none;
  font-size: inherit;
  font-family: inherit;
}
h1, h2, h3, h4, h5, h6 {
  font-family: shout;
  font-weight: normal;
}
h2 {
  border-top: 1px solid #2c3c40;
  padding-top: 10px;
  margin: 25px 0 0 0;
}
html {
  padding: 0;
}
table {
  margin: 16px 0;
  width: 100%;
  border-collapse: collapse;
}
table td, table th {
  padding: 10px 20px;
}
table thead tr {
  border-bottom: 3px solid #cdcdcd;
  text-align: left;
}
table tbody tr {
  border-bottom: 1px solid #cdcdcd;
}
table tbody tr:nth-child(odd) {
  background-color: #e9e9e9;
}

/* specific styles */
footer {
  width: 100%;
  padding: 50px;
  background-color: #2c3c40;
  color: white;
  position: absolute;
  left: 0;
}
footer.static {
  position: static;
  width: calc(100% + 200px);
  margin: 50px 0 0 -100px;
}
footer a {
  color: #aff1ff;
  border-bottom-color: #aff1ff;
}
footer > div {
  margin: 10px 0;
}
footer > h2 {
  margin: 0;
}
footer > h2:nth-of-type(2) {
  margin: 50px 0 0 0;
}
footer .shareBox {
  float: right;
  margin: 0;
}
footer .shareButton {
  font-size: 50px;
  margin: 0 25px;
}
footer .shareButton.fa-facebook:hover { color: #3b5998; }
footer .shareButton.fa-twitter:hover { color: #55acee; }
footer .shareButton.fa-google-plus:hover { color: #dd4b39; }
header {
  position: absolute;
  top: 0;
  left: 0;
  height: 150px;
  width: 100%;
  background-color: #2c3c40;
}
header img#logo {
  height: 100px;
  vertical-align: middle;
  margin-right: 25px;
}
header h1#title {
  margin: 0 25px;
  font-size: 100px;
  line-height: 150px;
  color: white;
}
header nav#mainNav {
  width: 100%;
  position: relative;
  z-index: 5;
  background-color: #57797f;
}
header nav#mainNav.fixed {
  position: fixed;
  top: 0;
  left: 0;
}
header nav#mainNav div.dropdown {
  display: inline-block;
  padding: 25px;
  background-color: #57797f;
  color: white;
  float: left;
}
header nav#mainNav div.dropdown:hover, header nav#mainNav div.dropdown.linger {
  background-color: #2c3c40;
} 
header nav#mainNav div.dropdownLinks {
  position: absolute;
  min-width: 200px;
  background-color: #2c3c40;
  color: #e9e9e9;
  z-index: -1;
}
header nav#mainNav div.dropdownLinks.hidden {
  display: none;
}
header nav#mainNav a.dropdownLink {
  display: block;
  padding: 25px;
}
header nav#mainNav a.dropdownLink:hover {
  background-color: #57797f;
}
p.underConstruction {
  font-family: shout;
  font-size: 50px;
  text-align: center;
  padding: 100px 0;
}
p.underConstruction span.fa-stack.first {
  margin-right: 20px;
}
p.underConstruction span.fa-stack.second {
  margin-left: 20px;
}
div.reveal {
  background-color: #e9e9e9;
  margin: 16px 0;
}
div.reveal div.revealButton, div.reveal div.toReveal {
  padding: 20px;
}
div.reveal div.revealButton::after {
  content: "\f0d7";
  font-family: fontawesome;
  display: inline-block;
  padding-left: 10px;
}
div.reveal.revealed div.revealButton {
  background-color: #cdcdcd;
}
div.reveal.revealed div.revealButton:hover {
  background-color: #e9e9e9;
}
div.reveal.revealed div.revealButton::after {
  content: "\f0d8";
}
div.reveal div.revealButton:hover {
  background-color: #cdcdcd;
}
div.reveal div.toReveal {
  display: none;
}
h1:not(#title) {
  padding-top: 50px;
}

/* general classes */
.animate {
  transition: all .5s;
}
.clearFix::after {
  content: " ";
  display: table;
  clear: both;
}
.dangerText {
  color: #ef4e49;
}
.noStyle {
  border-bottom: none;
  color: inherit;
}
.pointer {
  cursor: pointer;
}
.rounded {
  border-radius: 3px;
}
.shadowHover:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 3px 3px;
}
.shadow {
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 3px 3px;
}
.lightText {
  color: white;
}
