<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}</title>
    <meta charset="utf-8" />
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="The best bowling in Fairfield County!" />
    <meta name="keywords" content="bowling, Nutmeg Bowl, nutmeg, fairfield, lane, alley, playplace, fun" />
    <meta name="author" content="Jonathan Lam" />
    <base href="{{ site.baseurl }}/" />
    <script src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>
    <script src="res/script.js"></script>
    <script src="https://use.fontawesome.com/a46f002d02.js"></script>
    <link rel="stylesheet" type="text/css" href="res/mobile.css" />
    <link rel="stylesheet" type="text/css" href="res/desktop.css" media="(min-width: 1280px)" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
  </head>
  <body>
    <header>
      <h1 id="title"><a href="{{ site.baseurl }}/"><img src="images/logo.svg" id="logo" />Nutmeg Bowl</a></h1>
      <nav id="mainNav" class="clearFix">
        <div class="mobile">
          <i class="fa-stack openMenuButton">
            <i class="fa-stack-2x fa fa-square"></i>
            <i class="fa-stack-1x fa fa-navicon"></i>
          </i>
          <a href="{{ site.baseurl }}/">Nutmeg Bowl</a>
        </div>
        <i class="fa fa-search mainSearchIcon"></i>
        <input type="text" id="mainSearch" class="hidden" placeholder="Search" />
        <div id="homeButton"><a href="{{ site.baseurl }}/">Home</a></div>
        <div class="dropdown" data-dropdown="0"><a href="about/">About</a></div>
          <div class="dropdownLinks hidden" id="dropdown0">
            <a class="dropdownLink" href="about/features">Features</a>
            <a class="dropdownLink" href="about/history">History</a>
            <a class="dropdownLink" href="about/hours">Hours</a>
            <a class="dropdownLink" href="about/reviews">Reviews</a>
          </div>
        <div class="dropdown" data-dropdown="1"><a href="pricing/">Pricing</a></div>
          <div class="dropdownLinks hidden" id="dropdown1">
            <a class="dropdownLink" href="pricing/after_dark_special">After Dark Special</a>
            <a class="dropdownLink" href="pricing/birthday_parties">Birthday Parties</a>
            <a class="dropdownLink" href="pricing/breakfast_and_bowl">Breakfast and Bowl</a>
            <a class="dropdownLink" href="pricing/gift_cards">Gift Cards</a>
            <a class="dropdownLink" href="pricing/kids_bowl_free">Kids Bowl Free</a>
            <a class="dropdownLink" href="pricing/regular_pricing">Regular Pricing</a>
            <a class="dropdownLink" href="pricing/spring_special">Spring Special</a>
          </div>
        <div class="dropdown" data-dropdown="2"><a href="leagues/">Leagues</a></div>
          <div class="dropdownLinks hidden" id="dropdown2">
            <a class="dropdownLink" href="leagues/schedule">Schedule</a>
            <a class="dropdownLink" href="leagues/standings">Standings</a>
          </div>
        <div class="dropdown" data-dropdown="3"><a href="backyard_playplace/">Backyard Playplace</a></div>
          <div class="dropdownLinks hidden" id="dropdown3">
            <a class="dropdownLink" href="backyard_playplace/features">Features</a>
            <a class="dropdownLink" href="backyard_playplace/hours">Hours</a>
            <a class="dropdownLink" href="backyard_playplace/pricing">Pricing</a>
          </div>
        <div class="dropdown" data-dropdown="4"><a href="contact/">Contact Us</a></div>
          <div class="dropdownLinks hidden" id="dropdown4">
            <a class="dropdownLink" href="contact/contact_information">Contact Information</a>
            <a class="dropdownLink" href="contact/directions">Directions</a>
            <a class="dropdownLink" href="contact/staff">Staff</a>
            <a class="dropdownLink" href="contact/website_information">Website Information</a>
          </div>
      </nav>
      <nav id="sideNav" style="display:none">
        <span id="sideNavTitle">
          <i class="fa-stack closeMenuButton">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-times fa-stack-1x"></i>
          </i>
          Nutmeg Bowl
        </span>
        <input id="sideNavSearch" type="text" placeholder="Search" />
        <i class="fa fa-search searchButton"></i>
        <a href="{{ site.baseurl }}/">Home</a>
        <a href="about/">About</a>
        <a href="pricing/">Pricing</a>
        <a href="leagues/">Leagues</a>
        <a href="backyard_playplace/">Backyard Playplace</a>
        <a href="contact/">Contact Us</a>
      </nav>
    </header>
    {% if page.image %}
      <div style="background-image:url(images/{{ page.image }})" class="titleImage"></div>
    {% endif %}
    {{ content }}
    <footer>
      <div class="shareBox">
        <a id="facebookShareButton" target="_blank" class="shareButtonLink"><i class="fa fa-facebook shareButton" title="Share on Facebook"></i></a>
        <a id="twitterShareButton" target="_blank" class="shareButtonLink"><i class="fa fa-twitter shareButton" title="Share on Twitter"></i></a>
        <a id="googlePlusShareButton" target="_blank" class="shareButtonLink"><i class="fa fa-google-plus shareButton" title="Share on Google Plus"></i></a>
      </div>
      <h2>Visit Us</h2>
      <div><a target="_blank" href="https://www.google.com/maps/place/802+Villa+Ave,+Fairfield,+CT+06825/@41.1750132,-73.231007,17z/data=!3m1!4b1!4m5!3m4!1s0x89e80e3549ca49c3:0xaa6855288cdd70ad!8m2!3d41.1750132!4d-73.2288183">802 Villa Ave.</a>, Fairfield, CT, 06825</div>
      <div><a target="_blank" href="https://www.facebook.com/NutmegBowl/">Facebook</a></div>
      <h2>Contact Us</h2>
      <div><a target="_blank" href="mailto:info@nutmegbowl.com">info@nutmegbowl.com</a></div>
      <div><a target="_blank" href="tel:2033677741">203-367-7741</a></div>
      <div id="copyrightNotice">Copyright &copy; 2016 Nutmeg Bowl &middot; All Rights Reserved</div>
    </footer>
  </body>
<html>
